<div class="col-md-6">
  <div class="card">
    <div class="card-block">
      <h5 class="card-header card-danger text-centre">Club Awards</h5>
      <div class="card-text">
        <table class='table table-sm'>
          <tbody>
            <% club_awards.where(skater_id: skater.id).each do |ca| %>
              <tr>
                <td><%= ca.year %> <%= ca.award.award_type.name %> - <%= ca.award.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>