<div class="col-md-6">
  <div class="card">
    <div class="card-block">
      <h5 class="card-header card-danger text-centre">STAR Gold Assessments</h5>
      <div class="card-text">
        <table class="table table-sm">
          <% years.each do |y| %>
            <% if star_golds.where(skater_id: skater.id, year: y) %>
              <% competitions.each do |c| %>
                <% if star_golds.where(skater_id: skater.id, competition_id: c.id, year: y).present? %>
                  <h6><%= y %> <%= c.name %></h6>
                  <table class = 'table table-sm'>
                    <tbody>
                      <% star_golds.where(skater_id: skater.id, competition_id: c.id).in_groups_of(4) do |sgg| %>
                        <tr>
                          <% sgg.each do |sg| %>
                            <% if sg.present? %>
                              <td><%= sg.element %></td>
                            <% end %>
                          <% end %>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>