<h2>Top Scores</h2>
<table class=table>
  <tbody>
    <tr>
      <td col style="25%"><i class="fa fa-trophy fa-lg" style="color: #8C7853;"></i><br />Record was set<br />in the last 6 months</td>
      <td col style="25%"><i class="fa fa-trophy fa-lg" style="color: silver;"></i><br />Record was set<br />6 months to 2 years ago</td>
      <td col style="25%"><i class="fa fa-trophy fa-lg" style="color: gold;"></i><br />Record was set<br />2 to 5 years ago</td>
      <td col style="25%"><i class="fa fa-diamond fa-lg" style="color: #b9f2ff;"></i><br />Record was set<br />over 5 years ago</td>
    </tr>
  </tbody>
</table>

