<%= form_with(model: competition, local: true) do |form| %>
  <%= render '/layouts/partials/formerror', model: competition %>

  <div class="form-group row">
    <%= render '/layouts/partials/textfield', lbl: "Name", fld: :name, fld2: :competition_name, f: form %>
  </div>

  <%= render '/layouts/partials/formbtn', cxlpath: competitions_path, f: form %>
<% end %>
