<div style="text-align: center;">
  <h4><%= @score.event.level.name %> <%= @score.event.name %>
  <% if @score.segment.name != "Total" %>
    - <%= @score.segment.name %>
  <% end %></h4>
</div>
<%= render 'form', score: @score %>

