<div class="card">
  <div class="card-block">
    <h5 class="card-header card-danger text-center"><%= link_to title, path, class: 'btn btn-danger' %></h5>
    <p class="card-text text-center"><%= description %></p>
  </div>
</div>