<%= f.label "Date Achieved", class: "col-form-label col-md-2" %>
<div class="col-md-4">
 <%= f.text_field achieved, data:{ provide:'datepicker', "date-format" => 'yyyy-mm-dd' }, class: 'form-control' %>
</div>
