<div class='alert alert-success alert-dismissible fade show' role='alert'>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3>How to submit a new record</h3>
  <p>Email the repost card/skater detail sheet OR a link to the competition results to <a href="mailto:calalta@wallofffame.ca">calalta@wallofffame.ca</a></p>
  <p>The Wall of Fame administrator will try to update records after each competition</p>
</div>