<div class='alert alert-info alert-dismissible fade show' role='alert'>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3>ATTENTION! WE NEED YOUR HELP!</h3>
  <p>With changes to the Section web site we do not have full access to historical data. If you feel you have a record that is not show on this site please send a copy of the report card to: <a href="mailto:calalta@wallofffame.ca">calalta@wallofffame.ca</a> and we will update our records!</p>
</div>