<%= f.label lbl, class:"col-form-label col-md-1" %>
<div class="col-md-<%= w %>">
  <%= f.collection_select fld, list, :id, fld2, {:include_blank => true}, {class: "custom-select"} %>
  <% if newpath %>
    <br />
    Not Listed? <%= link_to 'Add New', newpath %>
  <% end %>
</div>